@font-face {
    font-family: Anton;
    src: url(../../fonts/Anton/Anton-Regular.ttf);
}
li, p {
    font-family: Oswald, sans-serif;
    font-size: 18px;
}

html {
    background-image:url("../images/background.jpg");
}

nav li {
    display: inline-block;
    padding: 8px 4px;
    margin: 10px auto;
    background-color: rgb(127, 204, 255);
    border: 2px solid black;
    
}
nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-family: Anton, sans-serif;
    font-size: medium;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #F02D4E;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    font-size: 30px;
    border: 6px black;
    border-style: dashed inset double;
}

figcaption {
    font-family: Oswald, sans-serif;
    color: #ffffff;
    text-shadow: 2px 3px 4px black;
    text-align: end;
}

html {
    background-color: blueviolet;
}
body {
    width: 600px;
    border: 9px black;
    border-style: double solid;
    margin: 20px auto;
    padding: 0 20px 20px 20px;
    background-color: aquamarine;
}
.special {
    color: #F02D4E;
}
button {
    display: block;
    margin-bottom: 5px;
}