@font-face {
    font-family: Oswald;
    src: url('../fonts/Oswald/Oswald-VariableFont_wght.ttf');
}

@font-face {
    font-family: Fira-Sans;
    src: url('../fonts/Fira-Sans/FiraSans-ExtraLightItalic.ttf');
}

button {
    background-color: blue;
    color: azure;
    font-family: Oswald, sans-serif;
    width: 10%;
    font-variant: slashed-zero;
}


.oswald {
    font-family: Oswald, sans-serif;
    font-variant: small-caps slashed-zero;
}
.fira_sans {
    font-family: 'Fira-Sans', sans-serif;
    font-variant: small-caps slashed-zero;
}

body {
    width: 70%;
    margin: 20px auto;
}

html {
    font-size: 1.5rem;
}