img {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 260px;
}
video {
    display: block;
    margin: 1.5rem auto;
    width: 30rem;
}


html {
    background-color: aliceblue;
}

body {
    width: 65%;
    margin: 10px auto;
    background-color: beige;
}

figure {
    background-color: rgb(254, 179, 48);
}

h2 strong {
    color: rgb(255, 44, 44);
}